.homeBackground{
    width: 100%;
    height: 900px;

    background-image: url(./homeAssets/paisajeaventura.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
}