.backgroundImage{
    width: 100%;
    height: 900px;

    background-image: url(../../assets/OOOColorMap.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
}