<div class="backgroundImage">

    <section class="character" *ngFor="let element of character">
        <div class="characterPresentation" *ngIf="character">
            <img class="character__photo" src="{{ element.image }}" alt="characterPhoto">

            <h3 class="character__name">{{ element.name }}</h3>
        </div>
        

        <button class="character__btnShowDetails">
            <i class="fas fa-chevron-down"></i>
        </button>

        <p class="character__details">{{ element.details }}</p>

    </section>

</div>





