<footer class="footerTag">
  <section class="layaout">
        <img
            class="logoContainer__img"
            src="../../assets/Adventure-Time-Logo_ccexpress.png"
            alt="AdventureTimeLogo"
        />

        
        <div class="socialMedia">
            
            <a href="https://twitter.com/horadeaventuras">
                <i class="fab fa-twitter"></i>
            </a>
    
            <a href="https://www.instagram.com/adventuretime/?hl=es">
                <i class="fab fa-instagram"></i>
            </a>
    
            <a href="https://adventuretime.fandom.com/wiki/Web_Weirdos">
                <i class="fas fa-book"></i>
            </a>
    
            <a href="https://es-es.facebook.com/horadeaventuras/">
                <i class="fab fa-facebook"></i>
            </a>
           
            

        </div>

    </section>
</footer>
