<div class="backgroundImage">

    <h2>Contacta con nosotros</h2>
    
    <form>
        <label for="name">Dinos tu nombre</label>
        <input type="text" name="name" id="name">

        <label for="surname">Y tu apellido</label>
        <input type="text" name="surname" id="surname">

        <label for="email">Y, ¿tu email?</label>
        <input type="email" name="email" id="email">

        <label for="message">Ahora sí, cuéntanos algo</label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
    </form>

</div>
